PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/silmin_banana_stock
JWT_SECRET=change_me_to_a_long_random_string

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=
